1. Write a PySpark code to read a CSV file named "employees.csv" containing the following columns: "employee_id", "name", "age", "department". Display the top 10 records from the DataFrame.

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Read the CSV file into a DataFrame
df = spark.read.csv("employees.csv", header=True, inferSchema=True)

# Display the top 10 records
df.show(10)

2.  Given a PySpark DataFrame named "sales_data" with columns "product_name" and "revenue", write a code to calculate the total revenue for each product and display the result in descending order.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have the "sales_data" DataFrame with columns "product_name" and "revenue"

# Calculate total revenue for each product
total_revenue_df = sales_data.groupBy("product_name").agg(sum("revenue").alias("total_revenue"))

# Display the result in descending order
total_revenue_df = total_revenue_df.orderBy("total_revenue", ascending=False)

# Show the result
total_revenue_df.show()

3. Write a PySpark code to read a JSON file named "students.json" containing student records with the following schema: "name" (string), "age" (integer), "grade" (string). Filter the DataFrame to include only students whose age is greater than 18.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Read the JSON file into a DataFrame
df = spark.read.json("students.json")

# Filter the DataFrame to include only students whose age is greater than 18
filtered_df = df.filter(col("age") > 18)

# Show the filtered DataFrame
filtered_df.show()

4. Consider a PySpark DataFrame named "transactions" with columns "transaction_id", "user_id", and "amount". Write a code to calculate the average transaction amount for each user and display the result.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have the "transactions" DataFrame with columns "transaction_id", "user_id", and "amount"

# Calculate the average transaction amount for each user
avg_amount_df = transactions.groupBy("user_id").agg(avg("amount").alias("avg_amount"))

# Display the result
avg_amount_df.show()

5. Given a PySpark DataFrame named "logs" with columns "timestamp" (timestamp) and "event" (string), write a code to count the number of events that occurred in each hour and display the result sorted by the hour.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import hour

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have the "logs" DataFrame with columns "timestamp" (timestamp) and "event" (string)

# Extract the hour from the timestamp column
logs_with_hour = logs.withColumn("hour", hour("timestamp"))

# Count the number of events in each hour
event_count_df = logs_with_hour.groupBy("hour").count().orderBy("hour")

# Display the result
event_count_df.show()

6.  Retrieve all the customers from the "Customers" table whose age is greater than 25 and have made at least one purchase.

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have a table named "Customers" in your database

# Execute a SQL query to retrieve the desired customers
query = """
    SELECT *
    FROM Customers
    WHERE age > 25
    AND customer_id IN (
        SELECT customer_id
        FROM Purchases
    )
"""

# Execute the query and retrieve the result as a DataFrame
result_df = spark.sql(query)

# Display the result
result_df.show()

7. Find the total number of orders placed by each customer and display the results in descending order of the number of orders.

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have a table named "Orders" with columns "customer_id" and "order_id"

# Execute a SQL query to find the total number of orders placed by each customer
query = """
    SELECT customer_id, COUNT(order_id) as order_count
    FROM Orders
    GROUP BY customer_id
    ORDER BY order_count DESC
"""

# Execute the query and retrieve the result as a DataFrame
result_df = spark.sql(query)

# Display the result
result_df.show()

8. Retrieve the names of all products that are currently out of stock from the "Products" table.

In [ ]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Assuming you have a table named "Products" with columns "product_id" and "product_name"

# Execute a SQL query to retrieve the names of out-of-stock products
query = """
    SELECT product_name
    FROM Products
    WHERE stock_quantity = 0
"""

# Execute the query and retrieve the result as a DataFrame
result_df = spark.sql(query)

# Display the result
result_df.show()